<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ASSIGNMENT 2 </title>s

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

  
</head>

<body>

    <div class="brand">ASSIGNMENT 2</div>
    <div class="address-bar">By : Ryan Christian Capua</div>

    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="/part1">Assingment 1</a>
                    </li>
                    <li>
                        <a href="/">Assignment 2</a>
                    </li>
                    <li>
                        <a href="/Ass3">Assignment 3</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        

                        <!-- Wrapper for slides -->
                        
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Difference Between SEO and SEM.
                       
                    </h2>
                    <hr>
                    
                    <hr class="visible-xs">
                    <p>"The Search engine optimization (SEO) is the process of optimizing your website for getting free traffic from the search engines. While the Search Engine Marketing (SEM) is the top/above SEO. SEM is the marketing process which search engines is visible by getting free traffic/ paid traffic."</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">SEO Strategies
                        
                    </h2>
                    <hr>
                    <p>Domain Name Strategy<br>
The first and the most important decision you have to create is choosing the domain name. It has a great impact of the website’s success in nearly every area, included the SEO and the social media marketing (SMM).<br><br>

Linking Strategy<br>
The landscape of SEO and link strategy is always changing, and today, the importance of building high-quality links has never been higher. The need to understand and implement high-quality campaigns is essential if you're going to compete and thrive online, and that isn't going to change any time soon.<br><br>

Keyword Strategy<br>
Keyword Strategies are essential in developing for winning search engine marketing campaigns. Keyword Strategy must be involved selecting high performance keyword that is applicable traffic to the business. Using the best keyword strategies have a chance on highly relevant keywords, which is keyword is closely to the business.<br><br>


Meta Description tags strategy<br>
The meta description tag in HTML is the 160 character snippet used to summarize a web page’s content. Search engines sometimes use these snippets in search results to let visitors know what a page is about before they click on it. Crafting a readable, compelling description using important keywords can improve the rate of the page.<br><br>


Alt tags strategy<br>
Alt tags (also known as alt attribute and alt description) is an image tags that provides a text alternative for search engines.<br><br>


Search Engine Indexing Strategy<br>
Search engine indexing is the process of a search engine collecting and stores data. It is the search engine index that provides the results for search queries. Without the search engine index, the search engine would take time and effort every time the search query was initiated, as search engine would have to search not only every web page or piece of data that has to do.</p>
                </div>
            </div>
        </div>

    </div>
     <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Is it possible to combine strategies? If yes , which strategies would you like to implement>
                        
                    </h2>
                    <hr>
                    <p>""</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Capua Corporation, 2017</p>
                </div>
            </div>
        </div>
    </footer>

   

</body>

</html>
